{% extends 'base.html.twig' %}

{% block body %}
	<h1>Reset Password</h1>
	{{ form_start(ResetPasswordForm) }}
	
	{{ form_row(ResetPasswordForm.email, { 'attr': {'placeholder':'Mail address'}}) }}
	<button type="submit" class="btn btn-success">reset</button>
	
	{{ form_end(ResetPasswordForm) }}
{% endblock %}