{% extends 'base.html.twig' %}

{% block body %}

    <H1> Creation manuelle d'un utilisateur</H1>

    {{ form_start(form) }}

    {{ form_row(form.username, { 'attr': {'placeholder':'pseudo'}}) }}
    {{ form_row(form.email, { 'attr': {'placeholder':'Adresse mail'}}) }}
   
    
    <button type="submit" class="btn btn-success">Creer</button>

    {{ form_end(form) }}

{% endblock %}
