{% extends 'base.html.twig' %}

{% block body %}

    <H1> Manual user creation</H1>

    {{ form_start(form) }}

    {{ form_row(form.username, { 'attr': {'placeholder':'Username'}}) }}
    {{ form_row(form.email, { 'attr': {'placeholder':'Mail address'}}) }}
   
    
    <button type="submit" class="btn btn-success">Create</button>

    {{ form_end(form) }}

{% endblock %}
