{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
    .no-account { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .no-account code { background: #F5F5F5; padding: 2px 6px; }
    
</style>

    {% if not app.user %}
    	<div class="no-account">
    		<p>CONNECT TO YOUR ACCOUNT BEFORE CHECK AGENDA</p>
    		
            <button type="button" class ="btn btn-success" onclick='/login'; return false;">Connexion</button>
    	</div>
    {% else %}
    	{% if app.user.roles[0] == 'ROLE_ADMIN' %}
        <div class="example-wrapper">
            <h1>HELLO YOU ARE AN ADMIN</h1>    
            
            <p>THIS IS THE DEFAULT PAGE OF AGENDA</p>
        </div>
        {% else %}
        <div class="example-wrapper">
            <h1>HELLO YOU ARE AN USER</h1>    
            
            <p>THIS IS THE DEFAULT PAGE OF AGENDA</p>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}
